.container{
  align-items: center;
  margin-top: 30px;
}


.b-containerHotel {
  margin: 20px;

}

.list{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.itemlist{
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: start;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: white;
    border: none;
}

.itemlist__flex {
  display: flex;
  align-items: center;
  font-size: 12PX;
}

mat-icon {
  color: rgb(80, 80, 80);
}

.b-features {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0;
}


.b-features__item {
  padding: 0 3px;
  border: 1.2px solid rgb(84, 68, 119);
  border-radius: 3px;
}

.b-li__precio {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    margin-top: 30px
}

.b-li__preciosub {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.b-precio {
  font-weight: 800;
  font-size: 20px;
}


h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #0c3455;
  font-weight: 600;
}

h4 {
  font-size: 11px;
  margin: 0;
}

p {
  margin-bottom: 5px;
  color: #2b3035;
}

img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.b-title {
  font-size: 27px;
  margin: 0;
}

.b-titleRooms {
  margin-left: 20px;
}

.b-subtitle {
  font-size: 17px;
}

.itemlist:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  display: inline-block;
  background-color: rgb(250,107,107);
  color: white;
  padding: 7px 13px;
  border-radius: 10px;
  font-size: 15px;

}

button:hover{
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}


.checked {
  color: orange ;
}
.unchecked {
  color: grey;
}

img {
  max-height: 210px;
}

.b-message {
  text-align: center;
  line-height: 1.5;
}
