
<div>
  <div *ngFor="let image of alojamiento!.images">
    <img src="{{ image }}" alt="{{ alojamiento!.name }}" />
  </div>
  <h2>{{ alojamiento!.name }} </h2>
  <h2>{{ alojamiento!.type }} in {{ alojamiento!.city}} </h2>
  <div>De  {{ alojamiento!.level }} estrellas</div>
</div>


<div class="container">
  <ul class="list">
      <li class="itemlist" *ngFor="let room of habitaciones">
          <h3>{{room.name}}</h3>
          <p>{{room.description}}</p>
          <p>€ {{room.price * nightsSearched}}</p>
          <p>(Total) Incluye impuestos y cargos</p>
          <img src="{{room.images[0]}}" alt="{{room.name}}" />
          <button (click)="clickBook(room)" >Reservar</button>
      </li>
  </ul>
  <div *ngIf="!habitaciones" >no hay rooms, busca de nuevo</div>
</div>
