.misReservas {
    display: flex;
    width: 91%;
    height: 134px;
    background: white;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    justify-content: space-between;
    align-items: center;
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

.enum{  margin-left: 10px;
        margin-bottom: 25px;    
        margin-top: 10px;
    h2{
        font-size: 20px;
        font-weight: 800;
        line-height: 32px;
        font-family: Roboto, sans-serif;
        letter-spacing: .0125em;
        margin: 0 0 2px;
    }
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 40px;
    
    
}
.user{ margin-left: 10px;
    h4{
        font-weight: bold;
        margin-bottom: 10px;
    }
    
}


.iniciales{    margin-right: 10px;
    width: 122px;
    height: 93px;
    background: rgb(250, 107, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding-top: 5px;
   
}
.reservas{
    margin-left: 10px;
}
.reserva{
    h4{
        font-weight: 800;
    }

}

    img{
        max-width: 124px;
        border-radius: 5%;
    }
    

button{
    margin-right: 10px;
    border: none;
    background: white;
    svg{
        color: rgb(250, 107, 107);
    }
}

.personal{
    display: flex;
    gap: 5px;
}
.img{
    display: flex;
    flex-direction: column;
}
.svg{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    color: rgb(250, 107, 107);
}

h1{font-weight: 800;}