.enum{  margin-left: 10px;
        margin-bottom: 25px;    
    h2{
        font-size: 20px;
        font-weight: 800;
        line-height: 32px;
        font-family: Roboto, sans-serif;
        letter-spacing: .0125em;
        margin: 0 0 2px;
    }
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 40px;
    
}
.user{ margin-left: 10px;
    h4{
        font-weight: bold;
        margin-bottom: 10px;
    }
    
}


.img{    margin-right: 10px;
    img{
        max-width: 100px;
    }
}
.reservas{
    margin-left: 10px;
}
.reserva{
    h4{
        font-weight: 800;
    }

}
.misReservas{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: rgb(230, 230, 230);
    border-radius: 16%;
    margin-right: 10px;
    padding: 14px;
    margin-bottom: 7px;
    img{
        max-width: 124px;
        border-radius: 5%;
    }
    
}
button{
    margin-right: 10px;
    border: none;
    background: rgb(230, 230, 230);
}

.personal{
    display: flex;
    gap: 5px;
}
.img{
    display: flex;
    flex-direction: column;
}
.svg{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}