<img class="img" src={{room.images[0]}}>

<form [formGroup]="roomForm" (ngSubmit) = "editarRoom()">
    <div>
        <input class="input" placeholder="nombre" formControlName="name" type="text"/>
        <p *ngIf="(submitted && roomForm?.get('name')?.hasError('required'))">Este campo es requerido</p>
    </div>
    <div>
        <input class="input" placeholder="description" formControlName="description" type="text"/>
        <p *ngIf="(submitted && roomForm?.get('description')?.hasError('required'))">Este campo es requerido</p>
    </div>
    <div>
        <input class="input" placeholder="price" formControlName="price" type="number"/>
        <p *ngIf="(submitted && roomForm?.get('price')?.hasError('required'))">Este campo es requerido</p>
    </div>

    <button>Guardar cambios</button>
  </form>

  <button (click)="deleteRoom()">Borrar habitacion</button>

  
