
<div *ngIf="!submittedDetails" >
    <h2>details booking room</h2>
    <form [formGroup]="bookingForm"  (ngSubmit)="clickIrAPagar()" >
        <input placeholder="Nombre" formControlName="name" type="text"/>
        <input placeholder="Apellido" formControlName="lastname" type="text"/>
        <input placeholder="Me gustaria una habitacion en un piso alto" formControlName="peticiones" type="text"/>

        <button>Ir al pago</button>
    </form>

    
</div>

<div *ngIf="submittedDetails && !isPaid">
    <h3>Nueva Tarjeta</h3>
    <form [formGroup]="payForm" (ngSubmit)="clickPagar()" >
        <label></label>
        <input formControlName="name" type="text"/>
        <p *ngIf="(submittedPayForm && payForm?.get('name')?.hasError('required'))">Este campo es requerido</p>
        <input formControlName="lastname" type="text"/>
        <p *ngIf="(submittedPayForm && payForm?.get('lastname')?.hasError('required'))">Este campo es requerido</p>
        <input placeholder="Num Tarjeta" formControlName="numeroTarjeta" type="text"/>
        <p *ngIf="(submittedPayForm && payForm?.get('numeroTarjeta')?.hasError('required'))">Este campo es requerido</p>
        <p *ngIf="(submittedPayForm && payForm?.get('numeroTarjeta')?.hasError('pattern'))">Insertar formato 4XXX XXXX XXXX XXXX</p>
        <input placeholder="DD / MM" formControlName="FechaCaducidad" type="text"/>
        <p *ngIf="(submittedPayForm && payForm?.get('FechaCaducidad')?.hasError('required'))">Este campo es requerido</p>
        <p *ngIf="(submittedPayForm && payForm?.get('FechaCaducidad')?.hasError('pattern'))">Insertar formato MM/YY o MMYY</p>
        <input placeholder="CVC" formControlName="CVC" type="text"/>
        <p *ngIf="(submittedPayForm && payForm?.get('CVC')?.hasError('pattern'))">Insertar numero de 3 o 4 cifras</p>
        <p *ngIf="(submittedPayForm && payForm?.get('CVC')?.hasError('required'))">Este campo es requerido</p>

        <button>Completar la reserva</button>
    </form> 

</div>


<div *ngIf="isPaid">
    <app-confirmation></app-confirmation>
</div>  
