.datos{
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px 15px 0 15px;
}

img{
    max-width: 56%;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

button {
    border: none;
    background-color: rgb(250,107,107);
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    margin: 20px;
    font-size: 18px;
  }
  .datos2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  span{
    font-weight: 800;
  }