
.boton{
  font-size: 28px;
  color: white;
}
.dropdown-item{
  text-decoration: none;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgb(28,0,96);
  background: linear-gradient(48deg, rgba(28,0,96,1) 0%, rgba(51,9,121,1) 52%, rgb(70, 0, 168) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 

h3{
  font-size: 25px;
  color: white;
  margin: 6px;
  font-weight: 900;
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: #fff;

}

