/* Estilos comunes */
.b-container {
  background-color: rgb(235, 235, 235);
}


.b-background {
  position: relative;
  color: white;
  background-image: url('https://assets.traveltriangle.com/blog/wp-content/uploads/2016/08/Hard-rock-hotel-in-Goa.jpg');
  filter: brightness(60%);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 375px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 60px;
  max-width: 390px;
  box-sizing: border-box;
}

.b-title {
  position: relative;
  bottom: 300px;
  padding: 0 35px;
}

h1 {
  color: WHITE;
  font-size: 30px;
  font-weight: 900;
}

h2 {
  color: WHITE;
  font-size:17px;
  font-weight: 900;
  line-height: 1.5;
}

.search-form {
  position: relative;
  bottom: 220px;
  width: 315px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #ffffff;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(39, 30, 53, 0.459) 0px 5px 15px;  
}

.search-form__input {
  width: 240px;
  padding: 15px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(39, 30, 53, 0.137) 0px 5px 15px;  
}

.search-form__input:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.error-message {
  color: rgb(255, 91, 91);
  font-size: 16px;
  margin-top: 5px;
}


button {
  border: none;
  background-color: rgb(250,107,107);
  color: white;
  padding: 8px 30px;
  border-radius: 10px;
  margin: 20px;
  font-size: 18px;
  width: 87%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

