<p>alojamientos works!</p>

<div class="container">
    <ul class="list">
        <li class="itemlist" *ngFor="let alojamiento of alojamientosList" (click)="clickAlojamientoDetalle(alojamiento)">
            <h3>{{alojamiento.name}}</h3>
            <p>{{alojamiento.location}}</p>
            <img src="{{alojamiento.mainImage}}" alt="{{alojamiento.name}}" />
        </li>
    </ul>
    <div *ngIf="!alojamientosList" >no hay alojamientos, busca de nuevo</div>
    <button routerLink="/addAlojamiento" *ngIf="token">Reservar</button>
  </div>
  
