<form [formGroup]="accommodationForm" (ngSubmit) = "editarAlojamiento()">
  <div>
      <input placeholder="nombre" formControlName="name" type="text"/>
      <p *ngIf="(submitted && accommodationForm?.get('name')?.hasError('required'))">Este campo es requerido</p>
  </div>
  <div>
      <input placeholder="ciudad" formControlName="city" type="text"/>
      <p *ngIf="(submitted && accommodationForm?.get('city')?.hasError('required'))">Este campo es requerido</p>
  </div>
  <div>
      <input placeholder="precio" formControlName="lowerPrice" type="number"/>
      <p *ngIf="(submitted && accommodationForm?.get('lowerPrice')?.hasError('required'))">Este campo es requerido</p>
  </div>
  <div>
      <input placeholder="tipo" formControlName="type" type="text"/>
      <p *ngIf="(submitted && accommodationForm?.get('type')?.hasError('required'))">Este campo es requerido</p>
  </div>
  <div>
    <input placeholder="nivel" formControlName="level" type="number"/>
    <p *ngIf="(submitted && accommodationForm?.get('level')?.hasError('required'))">Este campo es requerido</p>
</div>
<div>
  <input placeholder="ubicación" formControlName="location" type="number"/>
  <p *ngIf="(submitted && accommodationForm?.get('location')?.hasError('required'))">Este campo es requerido</p>
</div>
<div>
  <input placeholder="imágenes" formControlName="images" type="text"/>
  <p *ngIf="(submitted && accommodationForm?.get('images')?.hasError('required'))">Este campo es requerido</p>
</div>
<div>
  <input placeholder="habitaciones" formControlName="rooms" type="schema"/>
  <p *ngIf="(submitted && accommodationForm?.get('rooms')?.hasError('required'))">Este campo es requerido</p>
</div>
  <button>Guardar cambios</button>
  <button>Borrar alojamiento</button>
</form>


